.app {
    display: flex;
}

.list {
    border-bottom-right-radius: 5%;
    width: 30vw;
    height: 99.7vh;
    background-color: rgb(36, 36, 36);
    overflow: scroll;
}

.video {
    width: 70vw;
    margin-left: 2%;
}

.video-title-small {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

.video-item{
    border: 1px solid #ddd;
    cursor: pointer;
    height: 70px;
    padding: 15px 15px;
}

.video-item:hover {
    background-color: rgba(172, 172, 172, 0.5);
}

.video-title-big {
    margin: 3vh 0 0 10px;
    width: 50vw;
    font-size: 30px;
    height: 30px;
}

.close-display {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    align-self: flex-end;
    margin: 3vh 0 3vh 20%;
}

.item-header-items {
    display: flex;
}


.select-video {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.video-date-small {
    font-size: 15px;
}

.video-date-big {
    margin: 0;
    height: 5px;
}

.action-button {
    margin: 2px 0 0 2%;
}